<!DOCTYPE html>
<html>
  <head>
    <title>FDV</title>

    <link rel="stylesheet" href="/styles/reset.css">
		<link rel="stylesheet" href="/styles/game.css">
  </head>
  <body>
  	<canvas id="gameCanvas"></canvas>
		<script src="http://lit-forest-5109.herokuapp.com/socket.io/socket.io.js"></script>
		<script src="/scripts/requestAnimationFrame.js"></script>
		<script src="/scripts/Keys.js"></script>
		<script src="/scripts/Player.js"></script>
		<script src="/scripts/game.js"></script>
		<script>
			init();
			animate();
		</script>
  </body>
</html>